.searchingForm {
  display: flex;
  flex-direction: row;
}

.tripContainer {
  flex: 2;
}

.inputForm {
  flex: 4;
  margin: auto;
  width: 90%;
  padding-right: 10%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.btn {
  margin: auto;
  width: 50%;
  text-align: center;
  padding-top: 2rem;
}

.addInputBtn {
  margin: auto;
  width: 50%;
  text-align: center;
  padding: 0 0 1rem 0;
}

.destField {
  width: 100%;
  padding-top: 1rem;
  display: flex;
}

.MuiTextField-root {
  width: 100%;
}

.displayForm {
  margin: auto;
  width: 30%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.values {
  padding-left: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.disabledForm {
  display: none;
}

.displayedAlert {
  padding-top: 20px;
  margin: auto;
  width: 60%;
}

.disabledAlert {
  display: none;
}

p {
  padding: 0 1rem 0;
}

TabPanel {
  display: flex;
  justify-content: space-around;
}

.displayData {
}

.disableData {
  display: none;
}

.status500 {
  margin: auto;
  text-align: center;
}

.buttons {
  margin: auto;
  padding-bottom: 2rem;
  width: 30%;
  display: flex;
  flex-direction: row;
}

.savedTrips {
  padding-left: 5%;
}

.savedTripsBtns {
  margin: auto;
  text-align: center;
}

p {
  padding: 0;
}